.container-listrecipes{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.todolist-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addtask-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.css-text-146c3p1{
    color: white !important;
}

.mainrecipesContainer{
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

}

/*todolistremove*/
.todolist-h1{
    font-size: 15px;
}
.todolistremove{
    margin: 20px;
    color: white;
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 320px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #e2e2e2, #d3d3d3);
    font-family: Arial, Helvetica, sans-serif;
}
.recipe#todolistremove{
    width: 220px;
}
.module#remove{
    width: auto;
}
.todo-actions{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}