.container-listrecipes{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.todolist-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addtask-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.css-text-146c3p1{
    color: white !important;
}

.mainrecipesContainer{
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.todolist-h1{
    font-size: 15px;
}